*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box;
}
.firstnav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    background-color:#aa4059;
    padding: 10px;
    color: white;
}
.firstnav button{
    padding:5px;
}